.searchWrapper{
    flex:1;

    display:flex;

    max-width:750px;

    border:2px solid #ff6000;

    border-radius:999px;

    overflow:hidden;

    background:white;
}

.searchInput{
    flex:1;

    border:none;

    padding:15px 22px;

    font-size:16px;

    outline:none;
}

.searchButton{
    width:70px;

    border:none;

    background:#ff6000;

    color:white;

    cursor:pointer;

    font-size:20px;
}

.searchButton:hover{
    background:#e05600;
}